<!DOCTYPE html>
<html>
    <head>
        <title>Physics 398 Group 5 Data Store</title>
    </head>
    <body>
        <div id='upload form'>
            <form method="post" enctype=multipart/form-data>
                <h3>Upload Files (Please Make Names Unique or They WILL Be Overwritten!)</h3><br />
                <input type="radio" id="jack" name="person" value="jack">
                <label for="male">Jack</label><br>
                <input type="radio" id="david" name="person" value="david">
                <label for="female">David</label><br>
                <input type="radio" id="chang" name="person" value="chang">
                <label for="other">Chang</label><br />
                <input type=file name=file><br />
                <input type="submit" value=Upload><br />
            </form>
        </div>
        <h1><a href="/datasets/submit">Click here to render graphs</a></h1>
        <h1><a href="/datasets">Click here to view graphs</a></h1>
    </body>
</html>